/* 
    Document   : cssMdh
    Created on : 28 oct. 2011, 09:28:35
    Author     : 
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body, div, li, form, fieldset, input, textarea, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, table, blockquote {
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
}

html {
    background: url("./images/fondMdh.png") repeat-y scroll top center  #05101E;
    overflow-y: scroll;
}

body {
    font-family: 'Trebuchet MS',Arial,Helvetica,Sans-serif;
    line-height: 20px;
    word-spacing: 1px;
    font-size: 12px;
    color: #66666A;
}

#header {
    background-color: #0e2947;
    height: 100px;
    padding: 0;
    position: relative;
    width: 960px;
    z-index: 200;
    margin: 0 auto;
}

#logo {
    float: left;
    margin-top: 10px;
}

#navigation {
    
}

#navigation ul {
    float: right;
    list-style: none outside none;
}

#navigation li {
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: 0;
}

#navigation li a {
    display: block;
    padding: 60px 10px 2px 10px;
    font-size: 15px;
    color: #888;
    
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    
    transition-property: color, background-color;
    transition-duration: 1s;
    -webkit-transition-property: color, background-color;
    -moz-transition-property: color, background-color;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

#navigation li a:hover {
    background-color: #343333;
    color: #5c9de6;
    opacity: 1;
    
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    
    transition-property: color, background-color, opacity;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color, opacity;
    -moz-transition-property: color, background-color, opacity;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

#content {
    width: 960px;
    margin: 0 auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: url("./images/content-back.png") repeat-y scroll top center transparent;
}
