/* 
    Document   : cssMdh
    Created on : 28 oct. 2011, 09:28:35
    Author     : 
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body, div, img, li, form, fieldset, input, textarea, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, table, blockquote {
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
}

html {
    background: url("./images/fondMdh.png") repeat-y scroll top center  #05101E;
    overflow-y: scroll;
}

body {
    font-family: 'Trebuchet MS',Arial,Helvetica,Sans-serif;
    line-height: 20px;
    word-spacing: 1px;
    font-size: 12px;
    color: gray;
}

/*****HEADER****/
#header, #footer,#content_background, #content {
    margin: 0 auto;
    width: 960px;
} 


#header {
    background-color: #0e2947;
    height: 128px;
    padding: 0;
    position: relative;
    z-index: 200;
}

#logo {
    float: left;
    margin-top: 10px;
}

#navigation {
    
}

#navigation ul {
    float: right;
    list-style: none outside none;
}

#navigation li {
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: 0;
}

#navigation li a {
    display: block;
    padding: 35px 10px 2px 10px;
    font-size: 15px;
    color: #888;
    
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

#navigation li a:hover {
    background-color: #343333;
    color: #5c9de6;
    padding-top: 60px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
}

/*****CONTENU*****/
h1 {
    display: block;
    margin-bottom: 30px;
    color: #5d9ee6;
}

h2 {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #56616A;
}

p {
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    word-spacing: 1px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
}

a {
    color: gray;
}

#top {
    
}

#content_background {
    
/*    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;*/
    background: url("./images/content-back2.png") repeat-y scroll top center transparent;
}

#content {
    width: 884px;
    padding: 20px 0;
}

.paraDouble {
    display: block;
    float: left;
    width: 422px;
}

.firstcolonne {
    margin-right: 40px;
}


#content_background ul {
    list-style: none;
}

#content_background li {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px 15px 15px 15px;
    float: left;
    margin: 0 20px 10px;
    padding: 20px 5px 25px;
    width: 171px;
    cursor: pointer;
}

#content_background li:hover {
    background-color: #d8eaff;
}

#content_background li p {
    text-align: inherit;
    margin-bottom: 0;
    padding-bottom: 0;
}

#content_background li em {
    display: block;
    color: #56616A;
    margin-top: 15px;
    font-weight: bold;
    margin-right: 5px;
    text-align: right;
}

#content_background li em:after {
    content: ' +';
}

#content_background li a:hover em:after {    
    margin-left: 10px;
    content: ' >>';
}

.clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}