/* 
    Document   : cssMdh
    Created on : 28 oct. 2011, 09:28:35
    Author     : 
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body, div, img, li, form, fieldset, input, textarea, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, table, blockquote {
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
}

html {
    background: url("./images/fondMdh.png") repeat-y scroll top center  #05101E;
    overflow-y: scroll;
}

body {
    font-family: 'Trebuchet MS',Arial,Helvetica,Sans-serif;
    line-height: 20px;
    word-spacing: 1px;
    font-size: 12px;
    color: gray;
}

/*****HEADER****/
#header, #wrapper, #content_background, #content, #bot {
    margin: 0 auto;
    width: 960px;
} 


#header {
    background-color: #0e2947;
    height: 128px;
    padding: 0;
    position: relative;
    z-index: 200;
}

#logo {
    float: left;
    margin-top: 10px;
}

#navigation {
    
}

#navigation ul {
    float: right;
    list-style: none outside none;
}

#navigation li {
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: 0;
}

#navigation li a {
    display: block;
    padding: 35px 10px 2px 10px;
    font-size: 15px;
    color: #888;
    
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

#navigation li a:hover {
    background-color: #343333;
    color: #5c9de6;
    padding-top: 60px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
}

/*****CONTENU*****/
h1 {
    display: block;
    margin-bottom: 30px;
    color: #5d9ee6;
}

h2 {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #56616A;
}

p {
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    word-spacing: 1px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
}

a {
    color: gray;
}

#top {
    
}

#content_background {
    
/*    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;*/
    background: url("./images/content-back2.png") repeat-y scroll top center transparent;
}

#content {
    width: 884px;
    padding: 20px 0;
}

.paraDouble {
    display: block;
    float: left;
    width: 422px;
}

.firstcolonne {
    margin-right: 40px;
}


#content_background ul {
    list-style: none;
}

#content_background li {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px 15px 15px 15px;
    float: left;
    margin: 0 20px 10px;
    padding: 20px 5px 25px;
    width: 171px;
    cursor: pointer;
}

#content_background li:hover {
    background-color: #d8eaff;
}

#content_background li .titre_liste {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #56616A;
}

#content_background li .paragraphe_liste {
    font-size: 14px;
    line-height: 20px;
    word-spacing: 1px;
}

#content_background li em {
    display: block;
    color: #56616A;
    margin-top: 15px;
    font-weight: bold;
    margin-right: 5px;
    text-align: right;
}

#content_background li em:after {
    content: ' +';
}

#content_background li:hover em:after {    
    margin-left: 10px;
    content: ' >>';
}

.clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

#methodologie span.image_hover {
    background: url("./images/shema_methodologie3.png") no-repeat scroll left top;
    height: 171px;
    width: 223px;
    position: absolute;
}

#methodologie li .titre_liste {
   margin-top: 180px;
   text-align: center;
}

#methodologie li .paragraphe_liste {
   margin-top: 180px;
   text-align: center;
}

#methodologie li {
    /***Bug avec firefox centre l'img aussi***/
/*   text-align: center;*/
}

#methodologie li.analyse span.image_hover {
    background-position: 0px 0px;
}
#methodologie li.creation span.image_hover {
    background-position: -223px 0px;
}
#methodologie li.livraison span.image_hover {
    background-position: -446px 0px;
}
#methodologie li.suivi span.image_hover {
    background-position: -669px 0px;
}

#methodologie li.analyse:hover span.image_hover {   
    background-position: 0px -171px;
   
}
#methodologie li.analyse:hover {   
    background-color: #feb2b2;
}
#methodologie li.creation:hover span.image_hover {   
    background-position: -223px -171px;
}
#methodologie li.creation:hover {   
    background-color: #fdf296;
}
#methodologie li.livraison:hover span.image_hover {   
    background-position: -446px -171px;
}
#methodologie li.livraison:hover {   
    background-color: #b1e9ad;
}
#methodologie li.suivi:hover span.image_hover {   
    background-position: -669px -171px;
}

.rond{
	width:200px;
	height:200px;
	background:#069;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	border-radius:100px;
}


/****CONTACT****/

input, textarea {
    display: block;
    background: #F0F0F0;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(230,230,230)),color-stop(1, rgb(254,254,254)));
    background-image: -moz-linear-gradient(center bottom,rgb(230,230,230) 0%,rgb(254,254,254) 100%);
    border: 1px solid #AAA;
    height: 14px;
    color: black;
    font-size: 11px;
    padding: 6px 5px 5px;
    margin-top: 10px;
}

textarea {
    height: 70px;
    width: 380px;
    resize: vertical;
}

input[type=text] {
    width: 160px;
}

input[type=radio] {
    display: inline;
    margin-top: 0px;
    margin: 0 10px;
    vertical-align: middle;
}

legend {
    margin-top: 10px;
}

input[type=submit] {    
    float: right;
    height: auto;
    margin:10px 493px;
    font-weight: bold;
    padding: 6px 10px;
    cursor:pointer;
    color: #fff;
 
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;
 
    background: #a5b8da;
    background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));
 
    border: 1px solid #5c6f91;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
 
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
}

:-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}

/****FOOTER****/
#bot {
    background-color: #0e2947;
}

#footer {
    background-color: #0e2947;
    background: -moz-linear-gradient(top, #0e2947 0%, black 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e2947), color-stop(99%,black)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0e2947 0%,black 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0e2947 0%,#292d33 99%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #0e2947 0%,#292d33 99%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e2947', endColorstr='#292d33',GradientType=0 ); /* IE6-9 */
}

#wrapper {
    border: 1px solid white;
}